# Ignore DBs
*.db

# Ignore the virtual environment directory
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
*.out
*.err

# System-specific files
.DS_Store
Thumbs.db